
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wallet2.0</title>
  <meta name="author" content="Brandebot">
  <meta name="description" content="A wallet creation">
  <meta name="keywords" content="wallet,cryptocurrency">
  <style type="text/css">
       
    html { 
  background:  url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif) no-repeat center center fixed; 
  background-size: cover;
}
    
    
    h1 {
      color: grey;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 34px;
	    font-style: normal;
	    font-variant: normal;
	    font-weight: 500;
	    line-height: 26px;
}
		   h3 {
      color: white;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
    
    
  </style>
  </head>
  <body>
    <!-- Primary buttons -->
<!-- <a class="button button-primary" href="#">Anchor button</a> -->
   <button class="button-primary" style="height: 45px; width: 120px">Login</button>
   <button class="button-primary" style="height: 45px; width: 120px"><%= link_to 'Create an Account', new_account_path %></button>

    
  <h1> Welcome to your new wallet </h1>
		<h3><b>WARNING: THIS WALLET IS IN PROGRESS AND UNSECURE - DO NOT FILL IN ANY FIELDS</b></h3>
    
  </body>
</html>