<h1 style="font-family:helvetica;">Create your account here</h1>
<!-- now we need to add form tools (guides.rubyonrails.org/form_helpers.html)-->
<p style="font-family:helvetica;"> This will be where the db backend interacts </p>

<%= form_for @account do |f| %>
<!-- but at first rails dont know this, so you go back to controller and add within the def new-->

<% end %>