<h1 style="font-family:helvetica;"> Showing selected account </h1>

<p style="font-family:helvetica;"> Title: <%= @account.title %> </p>

<p style="font-family:helvetica;"> Description: <%= @account.description %> </p>